<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.FXOSGiAppWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.osgiapp"
            java="true"
            name="%wizard.name"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="false">
      </wizard>
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.FXOSGiBundleWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.bundle"
            java="true"
            name="%wizard.name.0"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.pde.ui.NewJavaFXProductFileWizard"
            icon="icons/page_gear.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.jfxproduct"
            name="%wizard.name.1">
      </wizard>
      <wizard
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.pde.ui.RepackageJavaFXWizard"
            icon="icons/building_link.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.createfxbundle"
            name="Repackage JavaFX for OSGi"
            project="true">
      </wizard>
   </extension>

</plugin>
