<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="at.bestsolution.efxclipse.tooling.pde.ui.FXOSGiAppWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.osgiapp"
            java="true"
            name="FX OSGi Application"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.pde.PDE"
            class="at.bestsolution.efxclipse.tooling.pde.ui.NewJavaFXProductFileWizard"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.pde.ui.jfxproduct"
            name="JavaFX Product Configuration">
      </wizard>
   </extension>

</plugin>
