<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bestsolution.at/efxclipse/tooling/svgpath/SvgPath" 
       class = "at.bestsolution.efxclipse.tooling.svgpath.svgPath.SvgPathPackage"
       genModel = "at/bestsolution/efxclipse/tooling/svgpath/SvgPath.genmodel" /> 
	
  </extension>




</plugin>
