<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.ui.preview.bundle.LivePreviewViewExecutableExtensionRegistry:at.bestsolution.efxclipse.tooling.ui.preview.LivePreviewPart"
            icon="icons/16_16/view-presentation.png"
            id="at.bestsolution.efxclipse.tooling.ui.preview"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
</plugin>
