<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="at.bestsolution.efxclipse.tooling.converter.svg"
               label="Convert SVG To FXML"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.svg">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.bestsolution.efxclipse.tooling.converter.fxg"
               label="Convert FXG To FXML"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.fxg">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.bestsolution.efxclipse.tooling.converter.ConvertFXGHandler"
            id="at.bestsolution.efxclipse.tooling.converter.fxg"
            name="Convert FXG">
      </command>
      <command
            defaultHandler="at.bestsolution.efxclipse.tooling.converter.ConvertSVGHandler"
            id="at.bestsolution.efxclipse.tooling.converter.svg"
            name="Convert SVG">
      </command>
   </extension>

</plugin>
