<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bestsolution.at/efxclipse/tooling/fxml2/FXML" 
       class = "at.bestsolution.efxclipse.tooling.fxml2.fXML.FXMLPackage"
       genModel = "at/bestsolution/efxclipse/tooling/fxml2/FXML.genmodel" /> 
	
  </extension>





</plugin>
