<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.buildpath.JavaFXContainerWizardPage"
            id="at.bestsolution.efxclipse.tooling.jdt.core.JAVAFX_CONTAINER"
            name="JavaFX SDK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.buildpath.JavaFXPreferencePage"
            id="at.bestsolution.efxclipse.tooling.jdt.ui.javafx"
            name="JavaFX">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jdt.ui.java"
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.wizard.JavaFXProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.jdt.ui.javafx"
            name="JavaFX Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.editors.JFXBuildConfigurationEditor"
            default="false"
            extensions="fxbuild"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.jdt.ui.fxbuild"
            name="FX Build Configuration">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.handler.RunBuildHandler"
            commandId="at.bestsolution.efxclipse.tooling.jdt.ui.export">
         <enabledWhen>
            <or>
               <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.fxbuild">
                     </test>
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
               </with>
               <with
				  variable="activeEditorId">
			   <equals
			      value="at.bestsolution.efxclipse.tooling.jdt.ui.fxbuild">
               </equals>
            </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="at.bestsolution.efxclipse.tooling.jdt.ui.export"
               icon="icons/application_lightning.png"
               label="Export FX Application"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.fxbuild">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.bestsolution.efxclipse.tooling.jdt.ui.export"
            name="FX Build Command">
      </command>
   </extension>
</plugin>
