<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.buildpath.JavaFXContainerWizardPage"
            id="at.bestsolution.efxclipse.tooling.jdt.core.JAVAFX_CONTAINER"
            name="JavaFX SDK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.buildpath.JavaFXPreferencePage"
            id="at.bestsolution.efxclipse.tooling.jdt.ui.javafx"
            name="JavaFX">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jdt.ui.java"
            class="at.bestsolution.efxclipse.tooling.jdt.ui.internal.wizard.JavaFXProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application_lightning.png"
            id="at.bestsolution.efxclipse.tooling.jdt.ui.javafx"
            name="JavaFX Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
   </extension>

</plugin>
