<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="any">
         <run
               class="at.bestsolution.efxclipse.runtime.examples.osgi.di.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bestsolution.efxclipse.runtime.examples.osgi.di.application"
            name="Di app">
         <property
               name="appName"
               value="Di app">
         </property>
      </product>
   </extension>

</plugin>
