<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="fxgraph"
            icon="icons/page_white_coldfusion.png"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            name="%editor.name">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.validate">
         <activeWhen>
            <reference
                    definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
        	category="at.bestsolution.efxclipse.tooling.jdt.ui.javafx"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            name="%page.name">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
        </page>
        <page
            category="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.coloring"
            name="%page.name.0">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
        </page>
        <page
            category="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.templates"
            name="%page.name.1">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            name="%page.name.2">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"
            label="%keyword.label"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.validate"
            name="%command.name">
      </command>
      <command
            id="at.bestsolution.efxclipse.tooling.fxgraph.ui.fxgraphconvert"
            name="Convert to FXGraph">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.validate"
                 style="push"
                 tooltip="%command.tooltip">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
        <!--menuContribution
              allPopups="false"
              locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
           <command
                 commandId="at.bestsolution.efxclipse.tooling.fxgraph.ui.fxgraphconvert"
                 label="Convert to FXGraph"
                 style="push">
           </command>
        </menuContribution-->
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fxgraph">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fxgraph">
        </resourceServiceProvider>
    </extension>



   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.compiler.preferencePage"
            name="%page.name.3">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.compiler.propertyPage"
            name="%page.name.4">
            <keywordReference id="at.bestsolution.efxclipse.tooling.fxgraph.ui.keyword_FXGraph"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="%command.description.0"
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="%command.name.0">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="%command.tooltip.0">
				<visibleWhen checkEnabled="false">
					<reference definitionId="at.bestsolution.efxclipse.tooling.fxgraph.FXGraph.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.FXGraphExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.fxgraph.ui.wizards.NewFXGraphWizard"
            icon="icons/page_white_coldfusion.png"
            id="at.bestsolution.efxclipse.tooling.fxgraph.ui.new"
            name="%wizard.name">
      </wizard>
   </extension>

</plugin>
