<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.bestsolution.efxclipse.tooling.fxml.editors.FXMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="fxml"
            icon="icons/application-xhtml+xml.png"
            id="at.bestsolution.efxclipse.tooling.fxml.editors.FXMLEditor"
            name="FXML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.completionProposal">
      <proposalComputer
            activate="true"
            categoryId="org.eclipse.wst.xml.ui.proposalCategory.xmlTags"
            class="at.bestsolution.efxclipse.tooling.fxml.editors.FXMLCompletionProposalComputer"
            id="at.bestsolution.efxclipse.tooling.fxml.proposalComputer1">
         <contentType
               id="at.bestsolution.efxclipse.tooling.fxml.file">
         </contentType>
      </proposalComputer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="fxml"
            id="at.bestsolution.efxclipse.tooling.fxml.file"
            name="FXML"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
        	class="at.bestsolution.efxclipse.tooling.fxml.editors.FXMLTextViewerConfiguration"
        	target="at.bestsolution.efxclipse.tooling.fxml.file"/>
      <documentationTextHover
            class="at.bestsolution.efxclipse.tooling.fxml.editors.FXMLTextHover"
            target="org.eclipse.wst.xml.XML_DEFAULT">
      </documentationTextHover>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="at.bestsolution.efxclipse.tooling"
            class="at.bestsolution.efxclipse.tooling.fxml.wizards.NewFXMLWizard"
            icon="icons/application-xhtml+xml.png"
            id="at.bestsolution.efxclipse.tooling.fxml.wizard1"
            name="New FXML Document"
            project="false">
      </wizard>
   </extension>

</plugin>
